@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

:root {
  --white: #fafafa;
  --black: #0d0d0d;
  --gray: #ccc;
  --primary: #485bc8;
  --error: #D92211;
  --success: #21a668;
}

html {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

h1, h2, p {
  color: var(--black);
  margin: 0;
  padding: 0;
}

label{
  font-weight: 600;
}

.container{
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.title{
  font-weight: 600;
  font-size: 2.8rem;
  margin-top: 1.55rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.division {
  width: 98%;
  height: 1px;
  background-color: var(--gray);
  align-self: center;
  justify-self: center;
}

.form{
  width: 70%;
  display: grid;
  gap: .5rem 1.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin: 2.8rem auto 1.4rem auto;
}

.form-control{
  display: grid;
}

.form-control small{
  visibility: hidden;
  color: var(--error);
  margin-top: 0.2rem;
  font-weight: 600;
}

.form-control--text {
  width: 90%;
  height: 1.5rem;
  margin-top: 0.2rem;
  padding: 0.2rem 0 0.2rem 0.7rem;
  border-radius: 0.2rem;
  border: solid 1px var(--gray);
  transition: 0.4s all;
}

.form-control--text.success{
  border-color: var(--success);
}

.form-control--text.error{
  border-color: var(--error);
}

.form-control--text.error+small{
  visibility: visible;
}

.form-control--text.success+small{
  visibility: hidden;
}

.form-control--text:hover{
  border: solid 1px var(--primary);
}

input:focus{
  border: solid 1px var(--primary);
  outline: none;
}

.form-control--number {
  width: 20%;
  height: 1.5rem;
  margin-top: 0.2rem;
  padding: 0.2rem 0 0.2rem 0.7rem;
  border-radius: 0.2rem;
  border: solid 1px var(--gray);
  transition: 0.4s all;
}

.form-control--number:hover{
  border: solid 1px var(--primary);
}

.form-control--number.success{
  border-color: var(--success);
}

.form-control--number.error{
  border-color: var(--error);
}

.form-control--number.error+small{
  visibility: visible;
}

.form-control--number.success+small{
  visibility: hidden;
}

.form-control--range {
  width: 90%;
  margin-top: 0.8rem;
  padding: 0.2rem 0;
}

.form-control--checkbox {
  width: 90%;
  align-self: center;
}

#levelOfExperience{ 
  display: flex;
  font-size: 0.84rem;
  justify-content: space-between;
  width: 90%;
}

a {
  color: var(--primary);
  text-decoration: none;
}

.btn {
  grid-column: 1/3;
  width: 150px;
  background: var(--primary);
  color: var(--white);
  justify-self: center;
  margin-top: 1.5rem;
  padding: 0.67rem;
  border-radius: 0.3rem;
  border: none;
  font-weight: 400;
  font-size: 1rem;
}

.btn:hover{
  cursor: pointer;
}

.btn:focus{
  outline: 0;
}

.modal{
  background: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease-out;
}

.modal.open{
  opacity: 1;
  pointer-events: all;
}

.modal-img{
  position: absolute;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.25s ease-out;
}

.modal-img.open{
  transform: translate(-50%, -50%) scale(1);
}

@media (max-width: 1100px) {
  .form{
    width: 90%;
  }
}

@media (max-width: 500px){
  .form {
    width: 90%;
    gap: 0.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .form-control{
    grid-column: 1/2;
  }

  .btn{
    width: 90%;
  }
}